# Debêntures

Importe o módulo 'finance' para precificar debêntures.

In [1]:
%run ../docs/fibra.py

**( ! )** NOTA: As debêntures nem sempre possuem um padrão de emissão como os títulos públicos, portanto é importante a leitura da escritura para entender os aspectos específicos de cada título. Esse módulo permite calcular o preço de grande parte das debêntures disponíveis no mercado que são remuneradas pelo **percentual DI**, **DI spread** e **IPCA spread**.

Parâmetros globais:

**DATA_REF** = Data de referência do cálculo.

**YIELD_CURVE_PATH** = Caminho para o arquivo contendo os vértices e as taxas dos contratos futuros de juros.

In [2]:
DATA_REF = "2021-03-18"
YIELD_CURVE_PATH = "../interest_rates_futures/20210318-DIFUT.csv"

## Debêntures DI Spread

### Grupo Natura

- Código: **NATU27**
- Série 2
- 7ª Emissão
- ISIN: **BRNATUDBS081**
- ANBIMA: https://data.anbima.com.br/debentures/emissores/71673990000177/emissoes/7/series/NATU27/caracteristicas

Preencha os dados do título:
- ***DATA***: Data de referência para o cálculo do preço do ativo.
- ***VNE***: Valor Nominal de Emissão.
- ***VNA***: Valor Nominal Atualizado na data de referência.
- ***PU***: Preço Unitário do título ao Par (marcado na curva).
- ***TAXA***: Taxa indicativa (taxa de mercado) da ANBIMA.
- ***FREQ***: Frequência de pagamentos (1: Anual, 2: Semestral, 3: Trimestral, etc).

In [3]:
DATA_natura = DATA_REF
VNE_natura = 10000
VNA_natura = 10000
PU_natura = 10170.808970
TAXA_natura = 0.7883
FREQ_natura = 2

**( ! )** Informe o calendário de amortizações como **percentual do valor nominal atualizado - VNA** (1 pra 100%, 0.50 para 50%, 0,33 para 33,33%, etc.)

In [4]:
cal_natura = {"2021-09-27": 1}

In [5]:
natura = DebentureSpread(date=DATA_natura, maturity="2021-09-25", vne=VNE_natura, vna=VNA_natura, pu=PU_natura,
                         issue_spread=1.75, market_spread=TAXA_natura, freq=FREQ_natura, redemption=cal_natura,
                         yield_curve_file=YIELD_CURVE_PATH)

In [6]:
natura.des()

                     Debenture DI Spread
Convention                     DI Spread
Frequency                    Semi-annual
Date                          2021-03-18
Maturity                      2021-09-25
Last payment date             2020-09-25
Next payment date             2021-03-25
Days to next payment                   5
Remaining payments                     2
Term to maturity                    0.53
VNE                         10000.000000
VNA                         10000.000000
PU Par                      10170.808970
Price                       10221.045950
Price/Par ratio                  100.49%
Issue rate                       1.7500%
Market rate                      0.7883%
Duration                            0.52

In [7]:
cf_natura = natura.cashflow()

In [8]:
cf_natura.head()

,Date,Days,DI,VNA,Interests,Redemptions,Payments,PV of Cash Flows
0,2021-03-25,5,2.645583,10000.0,179.583171,0.0,179.583171,179.462193
1,2021-09-27,133,3.974169,10000.0,292.831916,10000.0,10292.831916,10041.583758

In [9]:
natura.get("price")

'10221.045950'

### Natura Cosméticos

- Código: NATUC0
- Série 3
- 10ª Emissão
- ISIN: **BRNATUDBS0F6**
- ANBIMA: https://data.anbima.com.br/debentures/emissores/71673990000177/emissoes/10/series/NATUC0/caracteristicas

In [10]:
DATA_natuco = DATA_REF
VNE_natuco = 10000
VNA_natuco = 10000
PU_natuco = 10016.822800
TAXA_natuco = 1.5847
FREQ_natuco = 2

**( ! )** Informe o calendário de amortizações como **percentual do valor nominal atualizado - VNA** (1 pra 100%, 0.50 para 50%, 0,33 para 33,33%, etc.)

In [11]:
cal_natuco = {"2024-08-26": 1}

In [12]:
natuco = DebentureSpread(date=DATA_natuco, maturity="2024-08-26", vne=VNE_natuco, vna=VNA_natuco, pu=PU_natuco,
                         issue_spread=1.1500, market_spread=TAXA_natuco, freq=FREQ_natuco, redemption=cal_natuco,
                         yield_curve_file=YIELD_CURVE_PATH)

In [13]:
natuco.des()

                     Debenture DI Spread
Convention                     DI Spread
Frequency                    Semi-annual
Date                          2021-03-18
Maturity                      2024-08-26
Last payment date             2021-02-26
Next payment date             2021-08-26
Days to next payment                 112
Remaining payments                     7
Term to maturity                    3.43
VNE                         10000.000000
VNA                         10000.000000
PU Par                      10016.822800
Price                        9885.190036
Price/Par ratio                   98.69%
Issue rate                       1.1500%
Market rate                      1.5847%
Duration                            3.08

In [14]:
cf_natuco = natuco.cashflow()

In [15]:
cf_natuco.head(10)

,Date,Days,DI,VNA,Interests,Redemptions,Payments,PV of Cash Flows
0,2021-08-26,112,3.749985,10000.0,233.939587,0.0,233.939587,228.540472
1,2022-03-02,240,4.920000,10000.0,358.135522,0.0,358.135522,337.038275
2,2022-08-26,364,5.758145,10000.0,415.939988,0.0,415.939988,375.014106
3,2023-02-27,489,6.353029,10000.0,453.235690,0.0,453.235690,390.091484
4,2023-08-28,615,6.805416,10000.0,479.888895,0.0,479.888895,393.273953
5,2024-02-26,737,7.088156,10000.0,461.761641,0.0,461.761641,360.965645
6,2024-08-26,864,7.316644,10000.0,487.332268,10000.0,10487.332268,7800.266101

In [16]:
natuco.get("price")

'9885.190036'

## Debêntures Percentual DI

Um exemplo de uma debênture remunerada por percentual do DI.

### BR Malls

- Código: **BRML17**
- Série 1
- 7ª Emissão
- ISIN: **BRBRMLDBS076**
- ANBIMA: https://data.anbima.com.br/debentures/emissores/06977745000191/emissoes/7/series/BRML17/caracteristicas

In [17]:
DATA_brm = DATA_REF
VNE_brm = 10000
VNA_brm = 10000
PU_brm = 10004.015200
TAXA_brm = 124.9368
FREQ_brm = 2

In [18]:
cal_brm = {"2025-03-11": 1}

No caso das debêntures remuneradas pelo depósito interbancário (DI) é necessário estimar as taxas para as datas de pagamento do cupom. A função permite duas opções: 1) a importação de um arquivo csv/txt (`yield_curve_file`) que contém os vértices e taxas do DI, onde a expectativa de juros é obtida a partir da interpolação cúbica dos dados - **Cubic Spline**. 2) input manual, como no exemplo abaixo, no qual os vértices com suas respectivas taxas são definidas pelo o usuário usando os parâmetors `vertices` e `exp_rate`.

In [19]:
vertices = [123, 247, 374, 499, 624, 747, 876, 1000]

In [20]:
rates = [4.020, 5.190, 6.190, 6.890, 7.490, 7.840, 8.120, 8.340]

In [21]:
brm = DebentureDI(date=DATA_brm, maturity="2025-03-11", vne=VNE_brm, vna=VNA_brm, pu=PU_brm,
                  issue_rate=107.5000, market_rate=TAXA_brm, freq=FREQ_brm, redemption=cal_brm,
                  vertices=vertices, exp_rates=rates)

In [22]:
brm.des()

                      Debenture DI
Convention              Percent DI
Frequency              Semi-annual
Date                    2021-03-18
Maturity                2025-03-11
Last payment date       2021-03-11
Next payment date       2021-09-13
Days to next payment           123
Remaining payments               8
Term to maturity              3.97
VNE                   10000.000000
VNA                   10000.000000
PU Par                10004.015200
Price                  9534.123715
Price/Par ratio             95.30%
Issue rate               107.5000%
Market rate              124.9368%
Duration                      3.49

In [23]:
cf_brm = brm.cashflow()

In [24]:
cf_brm.head(10)

,Date,Days,DI,Interests,Redemptions,Payments,PV of Cash Flow
0,2021-09-13,123,4.02,210.669447,0.0,210.669447,205.666578
1,2022-03-11,247,5.19,331.716120,0.0,331.716120,311.786851
2,2022-09-12,374,6.19,434.237680,0.0,434.237680,388.475963
3,2023-03-13,499,6.89,470.863704,0.0,470.863704,399.308707
4,2023-09-11,624,7.49,517.221077,0.0,517.221077,413.653923
5,2024-03-11,747,7.84,494.397871,0.0,494.397871,373.836220
6,2024-09-11,876,8.12,525.596938,0.0,525.596938,374.458074
7,2025-03-11,1000,8.34,512.374118,10000.0,10512.374118,7066.937399

In [25]:
brm.get("price")

'9534.123715'

## Debêntures IPCA Spread

### Equatorial Energia Pará - Celpa

- Código: **CLPP13**
- Série 1
- 3ª Emissão
- ISIN: **BRCELPDBS018**
- ANBIMA: https://data.anbima.com.br/debentures/emissores/04895728000180/emissoes/3/series/CLPP13/caracteristicas

Preencha os dados do título:
- ***DATA***: Data de referência para o cálculo do preço do ativo.
- ***VNE***: Valor Nominal de Emissão.
- ***VNA***: Valor Nominal Atualizado na data de referência.
- ***PU***: Preço Unitário do título ao Par (marcado na curva).
- ***TAXA***: Taxa indicativa (taxa de mercado) da ANBIMA.
- ***FREQ***: Frequência de pagamentos (1: Anual, 2: Semestral, 3: Trimestral, etc).

In [26]:
DATA_clpp = DATA_REF
VNE_clpp = 1000
VNA_clpp = 1181.115910
PU_clpp = 1200.412954
TAXA_clpp = 0.4221
FREQ_clpp = 1

**( ! )** Informe o calendário de amortizações como **percentual do valor nominal atualizado - VNA** (1 pra 100%, 0.50 para 50%, 0,33 para 33,33%, etc.)

In [27]:
cal_celpa = {"2021-12-15": 1}

In [28]:
celpa = DebentureIPCA(date=DATA_clpp, maturity="2021-12-15", vne=VNE_clpp, vna=VNA_clpp, pu=PU_clpp,
                      issue_rate=6.6971, market_rate=TAXA_clpp, freq=FREQ_clpp, redemption=cal_celpa)

In [29]:
celpa.des()

                     Debenture IPCA Spread
Convention                     IPCA Spread
Frequency                           Annual
Date                            2021-03-18
Maturity                        2021-12-15
Last payment date               2020-12-15
Next payment date               2021-12-15
Days to next payment                   187
Remaining payments                       1
Term to maturity                      0.74
VNE                            1000.000000
VNA                            1181.115910
PU Par                         1200.412954
Price                          1255.637408
Price/Par ratio                    104.60%
Issue rate                         6.6971%
Market rate                        0.4221%
Duration                              0.74

In [30]:
cf_celpa = celpa.cashflow()

In [31]:
cf_celpa.head()

         Date  Days  Interests  Redemptions     Payments  PV of Cash Flows
0  2021-12-15   187  78.452331   1181.11591  1259.568241       1255.637408

In [32]:
celpa.get("price")

'1255.637408'

### Algar Telecom

- Código: **ALGA26**
- Série 2
- 6ª Emissão
- ISIN: **BRALGTDBS050**
- ANBIMA: https://data.anbima.com.br/debentures/emissores/71208516000174/emissoes/6/series/ALGA26/caracteristicas

In [33]:
DATA_alga = DATA_REF
VNE_alga = 1000
VNA_alga = 1167.191940
PU_alga = 1168.115982
TAXA_alga = 2.5468
FREQ_alga = 1

In [34]:
cal_alga = {"2023-03-15": 0.50, "2024-03-15": 1}

In [35]:
alga = DebentureIPCA(date=DATA_alga, maturity="2024-03-15", vne=VNE_alga, vna=VNA_alga, pu=PU_alga,
                     issue_rate=6.8734, market_rate=TAXA_alga, freq=FREQ_alga, redemption=cal_alga)

In [36]:
alga.des()

                     Debenture IPCA Spread
Convention                     IPCA Spread
Frequency                           Annual
Date                            2021-03-18
Maturity                        2024-03-15
Last payment date               2021-03-15
Next payment date               2022-03-15
Days to next payment                   249
Remaining payments                       3
Term to maturity                      2.98
VNE                            1000.000000
VNA                            1167.191940
PU Par                         1168.115982
Price                          1288.070821
Price/Par ratio                    110.27%
Issue rate                         6.8734%
Market rate                        2.5468%
Duration                              2.37

In [37]:
cf_alga = alga.cashflow()

In [38]:
cf_alga.head()

         Date  Days  Interests  Redemptions    Payments  PV of Cash Flows
0  2022-03-15   249  80.225771      0.00000   80.225771         78.256751
1  2023-03-15   501  80.225771    583.59597  663.821741        631.447534
2  2024-03-15   751  39.783917    583.59597  623.379887        578.366536

In [39]:
alga.get("price")

'1288.070821'

### Ecovias

- Código: **ECOV22**
- Série 2
- 2ª Emissão 
- ISIN: **BRECOVDBS044**
- ANBIMA: https://data.anbima.com.br/debentures/emissores/02509491000126/emissoes/2/series/ECOV22/caracteristicas

In [40]:
DATA_ecov = DATA_REF
VNE_ecov = 1000
VNA_ecov = 1532.817280
PU_ecov = 1592.849187
TAXA_ecov = 2.5695
FREQ_ecov = 1

**( ! )** O tipo de pagamento ***fixed*** significa que as amortizações são frações fixas do VNA. Ex: No caso de 3 pagamentos cada um corresponde a 1/3 do VNA. Por default o parâmetro `payment` é ***adjust***.

In [41]:
tipo_pagamento = "fixed"

In [42]:
cal_ecov = {"2022-04-18": 0.3333, "2023-04-17": 0.3333, "2024-04-15": 0.3334}

In [43]:
ecov = DebentureIPCA(date=DATA_ecov, maturity="2024-04-15", vne=VNE_ecov, vna=VNA_ecov, pu=PU_ecov,
                     issue_rate=4.2800, market_rate=TAXA_ecov, freq=FREQ_ecov, redemption=cal_ecov, payment="fixed")

In [44]:
ecov.des()

                     Debenture IPCA Spread
Convention                     IPCA Spread
Frequency                           Annual
Date                            2021-03-18
Maturity                        2024-04-15
Last payment date               2020-04-15
Next payment date               2021-04-15
Days to next payment                    19
Remaining payments                       4
Term to maturity                      3.06
VNE                            1000.000000
VNA                            1532.817280
PU Par                         1592.849187
Price                          1644.923320
Price/Par ratio                    103.27%
Issue rate                         4.2800%
Market rate                        2.5695%
Duration                              1.95

In [45]:
cf_ecov = ecov.cashflow()

In [46]:
cf_ecov.head()

         Date  Days  Interests  Redemptions    Payments  PV of Cash Flows
0  2021-04-15    19  65.073009     0.000000   65.073009         64.948654
1  2022-04-18   272  65.870431   510.887999  576.758430        561.178791
2  2023-04-17   523  43.561360   510.887999  554.449359        526.010809
3  2024-04-15   771  21.518175   511.041281  532.559456        492.785066

In [47]:
ecov.get("price")

'1644.923320'

### Ecorodovias

- Código: **ERDV17**
- Série 1
- 7ª Emissão
- ISIN: **BRERDVDBS0E8**
- ANBIMA: https://data.anbima.com.br/debentures/emissores/08873873000110/emissoes/7/series/ERDV17/caracteristicas

In [48]:
DATA_ecor = DATA_REF
VNE_ecor = 1000
VNA_ecor = 1121.243100
PU_ecor = 1183.949760
TAXA_ecor = 4.3061
FREQ_ecor = 1

In [49]:
cal_ecor = {"2024-06-17": 0.50, "2025-06-16": 1}

In [50]:
ecor = DebentureIPCA(date=DATA_ecor, maturity="2025-06-15", vne=VNE_ecor, vna=VNA_ecor, pu=PU_ecor,
                     issue_rate=7.4438, market_rate=TAXA_ecor, freq=FREQ_ecor, redemption=cal_ecor)

In [51]:
ecor.des()

                     Debenture IPCA Spread
Convention                     IPCA Spread
Frequency                           Annual
Date                            2021-03-18
Maturity                        2025-06-15
Last payment date               2020-06-15
Next payment date               2021-06-15
Days to next payment                    60
Remaining payments                       5
Term to maturity                      4.23
VNE                            1000.000000
VNA                            1121.243100
PU Par                         1183.949760
Price                          1302.901462
Price/Par ratio                    110.05%
Issue rate                         7.4438%
Market rate                        4.3061%
Duration                              3.25

In [52]:
cf_ecor = ecor.cashflow()

In [53]:
cf_ecor.head()

         Date  Days  Interests  Redemptions    Payments  PV of Cash Flows
0  2021-06-15    60  83.119906      0.00000   83.119906         82.289721
1  2022-06-15   313  83.806378      0.00000   83.806378         79.530782
2  2023-06-15   563  82.776820      0.00000   82.776820         75.335994
3  2024-06-17   814  83.119908    560.62155  643.741458        561.782515
4  2025-06-16  1066  41.731547    560.62155  602.353097        503.962450

In [54]:
ecor.get("price")

'1302.901462'

### MRV Engenharia

- Código: **MRVE39**
- Série 3
- 9ª Emissão
- ISIN: **BRMRVEDBS0C1**
- ANBIMA: https://data.anbima.com.br/debentures/emissores/08343492000120/emissoes/9/series/MRVE39/caracteristicas

In [55]:
DATA_mrv = DATA_REF
VNE_mrv = 10000
VNA_mrv = 11716.677900
PU_mrv = 11794.337470
TAXA_mrv = 2.5794
FREQ_mrv = 2

In [56]:
cal_mrv = {"2022-02-15": 1}

In [57]:
mrv = DebentureIPCA(date=DATA_mrv, maturity="2022-02-15", vne=VNE_mrv, vna=VNA_mrv, pu=PU_mrv,
                    issue_rate=8.2502, market_rate=TAXA_mrv, freq=FREQ_mrv, redemption=cal_mrv)

In [58]:
mrv.des()

                     Debenture IPCA Spread
Convention                     IPCA Spread
Frequency                      Semi-annual
Date                            2021-03-18
Maturity                        2022-02-15
Last payment date               2021-02-15
Next payment date               2021-08-16
Days to next payment                   104
Remaining payments                       2
Term to maturity                      0.92
VNE                           10000.000000
VNA                           11716.677900
PU Par                        11794.337470
Price                         12377.885899
Price/Par ratio                    104.95%
Issue rate                         8.2502%
Market rate                        2.5794%
Duration                               0.9

In [59]:
cf_mrv = mrv.cashflow()

In [60]:
cf_mrv.head()

         Date  Days   Interests  Redemptions      Payments  PV of Cash Flows
0  2021-08-16   104  469.912739       0.0000    469.912739        464.999740
1  2022-02-15   231  477.582549   11716.6779  12194.260449      11912.886159

In [61]:
mrv.get("price")

'12377.885899'

### Arteris

- Código: **ARTR19**

In [62]:
DATA_art = DATA_REF
VNE_art = 1000
VNA_art = 1035.550370
PU_art = 1036.133122
TAXA_art = 4.4851
FREQ_art = 2

In [63]:
cal_art = {"2026-09-15": 0.50, "2027-09-15": 1}

In [64]:
art = DebentureIPCA(date=DATA_art, maturity="2027-09-15", vne=VNE_art, vna=VNA_art, pu=PU_art,
                    issue_rate=4.8392, market_rate=TAXA_art, freq=FREQ_art, redemption=cal_art)

In [65]:
art.des()

                     Debenture IPCA Spread
Convention                     IPCA Spread
Frequency                      Semi-annual
Date                            2021-03-18
Maturity                        2027-09-15
Last payment date               2021-03-15
Next payment date               2021-09-15
Days to next payment                   125
Remaining payments                      13
Term to maturity                      6.48
VNE                            1000.000000
VNA                            1035.550370
PU Par                         1036.133122
Price                          1054.771236
Price/Par ratio                    101.80%
Issue rate                         4.8392%
Market rate                        4.4851%
Duration                              5.27

In [66]:
cf_art = art.cashflow()

In [67]:
cf_art.head()

         Date  Days  Interests  Redemptions   Payments  PV of Cash Flows
0  2021-09-15   125  25.157919          0.0  25.157919         24.616321
1  2022-03-15   249  24.362562          0.0  24.362562         23.328962
2  2022-09-15   377  25.157922          0.0  25.157922         23.559650
3  2023-03-15   501  24.362562          0.0  24.362562         22.327550
4  2023-09-15   628  24.959026          0.0  24.959026         22.373965

### ECHOENERGIA

- Código: **ECHP11**

In [68]:
DATA_ech = DATA_REF
VNE_ech = 1000
VNA_ech =  1059.774480
PU_ech = 1114.748040
TAXA_ech = 5.4258
FREQ_ech = 1

In [69]:
cal_ech = {"2023-06-15": 0.0227, "2024-06-17": 0.036836, "2025-06-16": 0.136938, "2026-06-15": 0.164697,
           "2027-06-15": 0.264220, "2028-06-16": 0.341478, "2029-06-15": 0.496046, "2030-06-17": 1}

In [70]:
ech = DebentureIPCA(date=DATA_ech, maturity="2030-06-15", vne=VNE_ech, vna=VNA_ech, pu=PU_ech,
                    issue_rate=6.9, market_rate=TAXA_ech, freq=FREQ_ech, redemption=cal_ech)

In [71]:
ech.des()

                     Debenture IPCA Spread
Convention                     IPCA Spread
Frequency                           Annual
Date                            2021-03-18
Maturity                        2030-06-15
Last payment date               2020-06-15
Next payment date               2021-06-15
Days to next payment                    60
Remaining payments                      10
Term to maturity                      9.21
VNE                            1000.000000
VNA                            1059.774480
PU Par                         1114.748040
Price                          1198.885147
Price/Par ratio                    107.55%
Issue rate                         6.9000%
Market rate                        5.4258%
Duration                              5.29

In [72]:
cf_ech = ech.cashflow()

In [73]:
cf_ech.head()

         Date  Days  Interests  Redemptions    Payments  PV of Cash Flows
0  2021-06-15    60  72.824513     0.000000   72.824513         71.914098
1  2022-06-15   313  73.424444     0.000000   73.424444         68.760520
2  2023-06-15   563  72.524668    24.056881   96.581549         85.827777
3  2024-06-17   814  71.171398    38.151693  109.323091         92.170036
4  2025-06-16  1066  68.832048   136.604680  205.436728        164.289208

### MANAUS AMBIENTAL - AEGEA

- Código: **MNAU13**

In [74]:
DATA_mna = DATA_REF
VNE_mna = 1000
VNA_mna =  1057.759110
PU_mna = 1073.912775
TAXA_mna = 4.7006
FREQ_mna = 2

In [75]:
cal_mna = {"2025-06-16": 1}

In [76]:
mna = DebentureIPCA(date=DATA_mna, maturity="2025-06-16", vne=VNE_mna, vna=VNA_mna, pu=PU_mna,
                    issue_rate=6.25, market_rate=TAXA_mna, freq=FREQ_mna, redemption=cal_mna)

In [77]:
mna.des()

                     Debenture IPCA Spread
Convention                     IPCA Spread
Frequency                      Semi-annual
Date                            2021-03-18
Maturity                        2025-06-16
Last payment date               2020-12-16
Next payment date               2021-06-16
Days to next payment                    61
Remaining payments                       9
Term to maturity                      4.23
VNE                            1000.000000
VNA                            1057.759110
PU Par                         1073.912775
Price                          1134.588054
Price/Par ratio                    105.65%
Issue rate                         6.2500%
Market rate                        4.7006%
Duration                              3.75

In [78]:
cf_mna = mna.cashflow()

In [79]:
cf_mna.head()

         Date  Days  Interests  Redemptions   Payments  PV of Cash Flows
0  2021-06-16    61  32.029548          0.0  32.029548         31.675380
1  2021-12-16   188  32.816357          0.0  32.816357         31.710833
2  2022-06-17   314  32.554024          0.0  32.554024         30.743081
3  2022-12-16   440  32.554024          0.0  32.554024         30.045041
4  2023-06-16   564  32.029549          0.0  32.029549         28.900322

### OMEGA ENERGIA

- Código: **OMGE31**

In [80]:
DATA_omg = DATA_REF
VNE_omg = 1000
VNA_omg =  1080.650430
PU_omg = 1131.094958
TAXA_omg = 4.7234
FREQ_omg = 1

In [81]:
cal_omg = {"2025-05-15": 0.40, "2026-05-15": 0.60}

In [82]:
omg = DebentureIPCA(date=DATA_omg, maturity="2026-05-15", vne=VNE_omg, vna=VNA_omg, pu=PU_omg,
                    issue_rate=5.6, market_rate=TAXA_omg, freq=FREQ_omg, redemption=cal_omg, payment="fixed")

In [83]:
omg.des()

                     Debenture IPCA Spread
Convention                     IPCA Spread
Frequency                           Annual
Date                            2021-03-18
Maturity                        2026-05-15
Last payment date               2020-05-15
Next payment date               2021-05-17
Days to next payment                    40
Remaining payments                       6
Term to maturity                      5.15
VNE                            1000.000000
VNA                            1080.650430
PU Par                         1131.094958
Price                          1170.529219
Price/Par ratio                    103.49%
Issue rate                         5.6000%
Market rate                        4.7234%
Duration                              4.12

In [84]:
cf_omg = omg.cashflow()

In [85]:
cf_omg.head(10)

         Date  Days  Interests  Redemptions    Payments  PV of Cash Flows
0  2021-05-17    40  60.269703     0.000000   60.269703         59.829794
1  2022-05-16   291  60.269704     0.000000   60.269704         57.141722
2  2023-05-15   541  60.023038     0.000000   60.023038         54.361017
3  2024-05-15   792  60.269704     0.000000   60.269704         52.132010
4  2025-05-15  1044  60.516424   432.260172  492.776596        407.016249
5  2026-05-15  1297  36.457918   648.390258  684.848176        540.048427

### USINA TERMELETRICA PAMPA SUL

- Código: **UTPS12**

In [86]:
DATA_utp = DATA_REF
VNE_utp = 1000
VNA_utp =  1035.128180
PU_utp = 1050.427852
TAXA_utp = 4.6940
FREQ_utp = 2

In [87]:
cal_utp = {"2021-10-15": 0.025, "2022-04-18": 0.028115, "2022-10-17": 0.028928, "2023-04-17": 0.043617,
           "2023-10-16": 0.045606, "2024-04-15": 0.092433, "2024-10-15": 0.101846, "2025-04-15": 0.112301,
           "2025-10-15": 0.126508, "2026-04-15": 0.154051, "2026-10-15": 0.182105, "2027-04-15": 0.216640,
           "2027-10-15": 0.276552, "2028-04-17": 1}

In [88]:
utp = DebentureIPCA(date=DATA_utp, maturity="2028-04-15", vne=VNE_utp, vna=VNA_utp, pu=PU_utp,
                    issue_rate=4.5, market_rate=TAXA_utp, freq=FREQ_utp, redemption=cal_utp)

In [89]:
utp.des()

                     Debenture IPCA Spread
Convention                     IPCA Spread
Frequency                      Semi-annual
Date                            2021-03-18
Maturity                        2028-04-15
Last payment date               2020-10-15
Next payment date               2021-04-15
Days to next payment                    19
Remaining payments                      15
Term to maturity                      7.06
VNE                            1000.000000
VNA                            1035.128180
PU Par                         1050.427852
Price                          1042.195266
Price/Par ratio                     99.22%
Issue rate                         4.5000%
Market rate                        4.6940%
Duration                              4.24

In [90]:
cf_utp = utp.cashflow()

In [91]:
cf_utp.head(20)

          Date  Days  Interests  Redemptions    Payments  PV of Cash Flows
0   2021-04-15    19  18.791553     0.000000   18.791553         18.726673
1   2021-10-15   146  23.218947    25.878204   49.097152         47.809512
2   2022-04-18   272  22.458249    28.375063   50.833312         48.377734
3   2022-10-17   398  21.826836    28.374749   50.201585         46.693201
4   2023-04-17   523  21.025368    41.545200   62.570568         56.888498
5   2023-10-16   648  20.108305    41.545012   61.653317         54.793492
6   2024-04-15   771  18.880875    80.362170   99.243045         86.247970
7   2024-10-15   900  17.981000    80.361360   98.342360         83.481715
8   2025-04-15  1025  15.643454    79.586194   95.229648         79.020737
9   2025-10-15  1152  14.111339    79.586212   93.697551         75.972634
10  2026-04-15  1277  12.129903    84.653184   96.783087         76.709044
11  2026-10-15  1403  10.344276    84.653482   94.997758         73.586740
12  2027-04-15  1527   8.324778    82.368120   90.692898         68.684178
13  2027-10-15  1654   6.680828    82.368035   89.048863         65.897941
14  2028-04-17  1780   4.794754   215.471195  220.265950        159.305195